@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&family=Rubik:wght@500&family=Sigmar&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    
}
:root{
    --bg-color: #31363F;
    --text-color: #EEEEEE;
    --side-color: #76ABAE;
    --main-color: #222831;
}
section{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
.top{
    width: 100%;
    height: 7%;
    background-color: beige;
    display: flex;
}
.tl{
    width: 12%;
    height: 100%;
    background-color: var(--bg-color);
}
.tm{
    width: 76%;
    height: 100%;
    background-color: var(--side-color);
    display: flex;
}
.ml{
    width: 50%;
    height: 100%;
    background-color: #222831;
}
.mr{
    width: 50%;
    height: 100%;
    background-color: #222831;
}
.tr{
    width: 12%;
    height: 100%;
    background-color: var(--bg-color);
}
.bottom{
    width: 100%;
    height: 93%;
    background-color: blueviolet;
}